# K means on Optdigits dataset
Task - Apply PCA on Optdigits dataset. Choose features that explain 90% of the variance. Build a classifier using K-means, and calculate accuracy.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
optdigits_df=pd.read_csv('optdigits_csv.csv')
optdigits_df.head()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,...,input56,input57,input58,input59,input60,input61,input62,input63,input64,class
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6

In [5]:
optdigits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5620 entries, 0 to 5619
Data columns (total 65 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   input1   5620 non-null   int64
 1   input2   5620 non-null   int64
 2   input3   5620 non-null   int64
 3   input4   5620 non-null   int64
 4   input5   5620 non-null   int64
 5   input6   5620 non-null   int64
 6   input7   5620 non-null   int64
 7   input8   5620 non-null   int64
 8   input9   5620 non-null   int64
 9   input10  5620 non-null   int64
 10  input11  5620 non-null   int64
 11  input12  5620 non-null   int64
 12  input13  5620 non-null   int64
 13  input14  5620 non-null   int64
 14  input15  5620 non-null   int64
 15  input16  5620 non-null   int64
 16  input17  5620 non-null   int64
 17  input18  5620 non-null   int64
 18  input19  5620 non-null   int64
 19  input20  5620 non-null   int64
 20  input21  5620 non-null   int64
 21  input22  5620 non-null   int64
 22  input23  5620 non-null   int64
 23  input24  5620 non-null   int64
 24  input25  5620 non-null   int64
 25  input26  5620 non-null   int64
 26  input27  5620 non-null   int64
 27  input28  5620 non-null   int64
 28  input29  5620 non-null   int64
 29  input30  5620 non-null   int64
 30  input31  5620 non-null   int64
 31  input32  5620 non-null   int64
 32  input33  5620 non-null   int64
 33  input34  5620 non-null   int64
 34  input35  5620 non-null   int64
 35  input36  5620 non-null   int64
 36  input37  5620 non-null   int64
 37  input38  5620 non-null   int64
 38  input39  5620 non-null   int64
 39  input40  5620 non-null   int64
 40  input41  5620 non-null   int64
 41  input42  5620 non-null   int64
 42  input43  5620 non-null   int64
 43  input44  5620 non-null   int64
 44  input45  5620 non-null   int64
 45  input46  5620 non-null   int64
 46  input47  5620 non-null   int64
 47  input48  5620 non-null   int64
 48  input49  5620 non-null   int64
 49  input50  5620 non-null   int64
 50  input51  5620 non-null   int64
 51  input52  5620 non-null   int64
 52  input53  5620 non-null   int64
 53  input54  5620 non-null   int64
 54  input55  5620 non-null   int64
 55  input56  5620 non-null   int64
 56  input57  5620 non-null   int64
 57  input58  5620 non-null   int64
 58  input59  5620 non-null   int64
 59  input60  5620 non-null   int64
 60  input61  5620 non-null   int64
 61  input62  5620 non-null   int64
 62  input63  5620 non-null   int64
 63  input64  5620 non-null   int64
 64  class    5620 non-null   int64
dtypes: int64(65)
memory usage: 2.8 MB

In [6]:
optdigits_df.describe()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,...,input56,input57,input58,input59,input60,input61,input62,input63,input64,class
count,5620.0,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,...,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000,5620.000000
mean,0.0,0.302135,5.393238,11.815480,11.578292,5.593772,1.379359,0.138256,0.003203,1.971174,...,0.166904,0.000356,0.281851,5.760498,11.989680,11.572420,6.720819,2.093594,0.254093,4.495196
std,0.0,0.879962,4.672719,4.255952,4.462546,5.631149,3.356633,1.046998,0.090423,3.098815,...,0.843455,0.018863,0.929969,5.021145,4.347542,4.975675,5.815564,4.047959,1.418558,2.868131
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.000000,2.000000
50%,0.0,0.000000,5.000000,13.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.000000,13.000000,13.000000,6.000000,0.000000,0.000000,4.000000
75%,0.0,0.000000,9.000000,15.000000,15.000000,10.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,10.000000,15.000000,16.000000,12.000000,2.000000,0.000000,7.000000
max,0.0,8.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,5.000000,16.000000,...,13.000000,1.000000,10.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,9.000000